
<div class="container">

  <h1>Restaurants</h1>

<tbody>
  <div class="card w-75">
  <div class="card-body">
  <% @restaurants.each do |restaurant| %>
    <h5 class="card-title"><%= restaurant.name %></h5>
    <p class="card-text">Address: <%= restaurant.address %></p>
    <p class="card-text">Phone number: <%= restaurant.phone_number %></p>
    <%= link_to 'Show', restaurant, class: 'btn btn-primary' %><br><br>
  <% end %>

  <%= link_to 'Add a new restaurant', new_restaurant_path, class: 'btn btn-light' %>
</div>
</div>
</tbody>

</div>
